img{
    width: 150px;
}
body{
    background-color: rgb(255, 15, 15);
    text-align:left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: large;
    font-display: block;
}